@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    box-sizing: inherit;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;

        .hero {
            font-size: calc(4.2rem + 1vw);
            text-align: center;
            color: rgb(141, 9, 230);
        }

        .form {
            display: grid;
            grid-auto-columns: 1;
            grid-template-columns: repeat(2,1fr);
            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(1,1fr);
                gap: 10rem 0;
                margin-top: 10rem;
            };
            margin-top: 4rem;
            gap: 2rem;

            input[type = "text"] {
                border-radius: 0;
                font-size: 2rem;
                font-family: 'Roboto Mono', monospace;
                text-align: center;
                border: none;
                font-weight: 300;
                padding: 1rem;
                border-bottom: 1px solid #575757;
                
                &:focus, &:focus::placeholder {
                    outline: none;
                    color: rgb(141, 9, 230);
                    border-color: rgb(141, 9, 230);
                }
            }

            
        }
        .boxes {
        

            .pixel-container {
                
                margin-top: 5rem;
                background-color: rgb(0, 0, 0);
                display: grid;
                //animation: rotate 10s linear alternate infinite;
                
            
               .pixel {
                    background-color: rgb(131, 56, 192);
               }
            }
        }
    }
}


@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}