@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

body .container .hero {
  font-size: calc(4.2rem + 1vw);
  text-align: center;
  color: #8d09e6;
}

body .container .form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  body .container .form {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 10rem 0;
    margin-top: 10rem;
  }
}

body .container .form input[type="text"] {
  border-radius: 0;
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  border: none;
  font-weight: 300;
  padding: 1rem;
  border-bottom: 1px solid #575757;
}

body .container .form input[type="text"]:focus, body .container .form input[type="text"]:focus::-webkit-input-placeholder {
  outline: none;
  color: #8d09e6;
  border-color: #8d09e6;
}

body .container .form input[type="text"]:focus, body .container .form input[type="text"]:focus:-ms-input-placeholder {
  outline: none;
  color: #8d09e6;
  border-color: #8d09e6;
}

body .container .form input[type="text"]:focus, body .container .form input[type="text"]:focus::-ms-input-placeholder {
  outline: none;
  color: #8d09e6;
  border-color: #8d09e6;
}

body .container .form input[type="text"]:focus, body .container .form input[type="text"]:focus::placeholder {
  outline: none;
  color: #8d09e6;
  border-color: #8d09e6;
}

body .container .boxes .pixel-container {
  margin-top: 5rem;
  background-color: black;
  display: -ms-grid;
  display: grid;
}

body .container .boxes .pixel-container .pixel {
  background-color: #8338c0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
/*# sourceMappingURL=style.css.map */